body{
	color: white;
	margin: 0;
	padding: 0;

}

.img2{
	border-radius: 10px;
	
}

#main{
	border: 10px solid black;
     background-color: black;
     height: 1000px;
	padding-top: 60px;
	padding-left: 40px;
	margin: 0 auto;

}

#title{
     text-align: center;

}